#### Loading all the required libraries

In [1]:
import pandas as pd
import glob
import os
from ast import literal_eval
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

from sqlalchemy import create_engine

#### Automating some of the things by loading all the path for the files and creating df names from them followed by loading the actually data to the respective dataframes.

In [2]:
filepaths = [i for i in os.listdir(".") if i.endswith('.gz')]
filepaths

['brands.json.gz', 'receipts.json.gz', 'users.json.gz']

In [3]:
df_to_create = [i.replace('.json.gz','_df') for i in filepaths]
df_to_create

['brands_df', 'receipts_df', 'users_df']

In [4]:
for i,j in zip(df_to_create,filepaths):
    exec('{0} = pd.read_json("{1}",compression="infer",lines=True)'.format(i,j))

# Brand_DF

In [5]:
brands_df.head(50)

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827
5,{'$oid': '601ac142be37ce2ead43755b'},511111719885,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146091,0.0,TEST BRANDCODE @1612366146091
6,{'$oid': '601ac142be37ce2ead43755c'},511111219897,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146133,0.0,TEST BRANDCODE @1612366146133
7,{'$oid': '5cdad0f5166eb33eb7ce0faa'},511111104810,Condiments & Sauces,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",J.L. Kraft,NaN,J.L. KRAFT
8,{'$oid': '5ab15636e4b0be0a89bb0b07'},511111504412,Canned Goods & Soups,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5a734034e4b0...",Campbell's Home Style,0.0,CAMPBELLS HOME STYLE
9,{'$oid': '5c408e8bcd244a1fdb47aee7'},511111504788,Baking,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '59ba6f1ce4b0...",test,NaN,TEST
10,{'$oid': '5f4bf556be37ce0b4491554d'},511111516354,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f4bf556be37...",test brand @1598813526777,NaN,TEST BRANDCODE @1598813526777
11,{'$oid': '57c08106e4b0718ff5fcb02c'},511111102540,NaN,NaN,"{'$ref': 'Cpgs', '$id': {'$oid': '5332f5f2e4b0...",MorningStar,NaN,NaN
12,{'$oid': '588ba07be4b02187f85cdadd'},511111201076,Baking,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Calumet,0.0,CALUMET
13,{'$oid': '5d6413156d5f3b23d1bc790a'},511111205012,Magazines,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5d5d4fd16d5f...",Entertainment Weekly,NaN,511111205012
14,{'$oid': '585a9611e4b03e62d1ce0e74'},511111801801,Breakfast & Cereal,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5fbe4b0...",AUNT JEMIMA Syrup,0.0,AUNT JEMIMA SYRUP
15,{'$oid': '57e5820ce4b0ac389136a311'},511111202233,Beer Wine Spirits,NaN,"{'$ref': 'Cpgs', '$id': {'$oid': '5332f709e4b0...",Molson Canadian,0.0,MOLSON
16,{'$oid': '5fb6adb8be37ce522e165cb8'},511111817376,Health & Wellness,HEALTHY_AND_WELLNESS,"{'$ref': 'Cogs', '$id': {'$oid': '5d9b4f591dda...",Lotrimin®,0.0,LOTRIMIN
17,{'$oid': '5f358338be37ce443bf9d55a'},511111515319,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f358338be37...",test brand @1597342520277,NaN,TEST BRANDCODE @1597342520277
18,{'$oid': '5fb28549be37ce522e165cb5'},511111317364,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5fb28549be37...",test brand @1605535049181,0.0,NaN
19,{'$oid': '592486bfe410d61fcea3d139'},511111300700,Beauty,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",ST. IVES,0.0,ST IVES
20,{'$oid': '5c4699f387ff3577e203ea29'},511111305125,Baby,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '55b62995e4b0...",Chris Image Test,NaN,CHRISIMAGE
21,{'$oid': '5da6071ea60b87376833e34d'},511111005650,Health & Wellness,HEALTHY_AND_WELLNESS,"{'$ref': 'Cogs', '$id': {'$oid': '5d9b4f591dda...",Alka-Seltzer®,NaN,ALKA SELTZER
22,{'$oid': '57ebc011e4b0ac389136a335'},511111802129,Condiments & Sauces,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Jack Daniel's,0.0,JACK DANIEL'S BARBECUE
23,{'$oid': '5332f5fee4b03c9a25efd0bd'},511111303947,NaN,NaN,"{'$ref': 'Cpgs', '$id': {'$oid': '53e10d6368ab...",Bottled Starbucks,NaN,NaN
24,{'$oid': '5332fa7ce4b03c9a25efd22e'},511111802914,NaN,NaN,"{'$ref': 'Cpgs', '$id': {'$oid': '5332f5ebe4b0...",Full Throttle,NaN,NaN
25,{'$oid': '5e9f18bfbe37ce3e45b6a77f'},511111914549,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5e9f12f5be37...",PopUp Brand A,NaN,NaN
26,{'$oid': '592486bee410d61fcea3d133'},511111400769,Frozen,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",MAGNUM Ice Cream,0.0,MAGNUM Ice Cream
27,{'$oid': '5d66d71fa3a018093ab34728'},511111105329,Magazines,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5d5d4fd16d5f...",Elegant Homes Magazine,NaN,511111105329
28,{'$oid': '5f493e72be37ce64d0ae36c6'},511111316114,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f493e72be37...",test brand @1598635634882,NaN,TEST BRANDCODE @1598635634882
29,{'$oid': '5f4936ddbe37ce52f8314fd9'},511111315957,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f4936dcbe37...",test brand @1598633693011,NaN,NaN
30,{'$oid': '57ebc2e7e4b0ac389136a34b'},511111201915,Grocery,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Taco Bell,0.0,TACO BELL
31,{'$oid': '5fd2a0aebe37ce49eb72c0ee'},511111518112,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5fd2a0aebe37...",test brand @1607639214411,0.0,NaN
32,{'$oid': '5dc03596a60b873d6b0666cd'},511111506249,Breakfast & Cereal,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...",Frosted Cheerios™,NaN,FROSTED CHEERIOS
33,{'$oid': '5f494c5f04db711dd8fe87e6'},511111916161,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f494c5d04db...",test brand @1598639199674,NaN,TEST BRANDCODE @1598639199674
34,{'$oid': '5332f772e4b03c9a25efd125'},511111103653,NaN,NaN,"{'$ref': 'Cpgs', '$id': {'$oid': '5332f5f3e4b0...",Gold Medal,NaN,NaN
35,{'$oid': '59dfaad1e4b0a56a2fa69abc'},511111100621,Baking,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",GODIVA Instant Pudding Mix,0.0,GODIVA DRY PACKAGED DESSERTS
36,{'$oid': '5daf33e71dda2c3e1416ae93'},511111305910,Snacks,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f3e4b0...",LÄRABAR™,NaN,LARABAR
37,{'$oid': '5f35a0babe37ce6853cff1ff'},511111115366,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f35a0babe37...",test brand @1597350074333,NaN,TEST BRANDCODE @1597350074333
38,{'$oid': '5fd29590be37ce38bbbefb28'},511111718079,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5fd29590be37...",test brand @1607636368717,0.0,TEST BRANDCODE @1607636368717
39,{'$oid': '5fd3acb6be37ce0d9386bb40'},511111818182,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5fd3acb5be37...",test brand @1607707830095,0.0,TEST BRANDCODE @1607707830095
40,{'$oid': '5bd200a6965c7d66d92731ea'},511111504627,Household,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '550b2565e4b0...",Cottonelle,0.0,COTTONELLE
41,{'$oid': '585a9675e4b03e62d1ce0e7f'},511111301691,Beverages,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5fbe4b0...",Izze,0.0,IZZE
42,{'$oid': '5887a17ee4b02187f85cdad3'},511111101178,Beverages,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Mio,0.0,MIO
43,{'$oid': '5332f765e4b03c9a25efd11f'},511111503699,NaN,NaN,"{'$ref': 'Cpgs', '$id': {'$oid': '5332f5ebe4b0...",Glaceau vitaminwater,NaN,NaN
44,{'$oid': '5d66d94d6d5f3b6188d4f04b'},511111505365,Magazines,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5d5d4fd16d5f...",Magnolia Journal Magazine,NaN,511111505365
45,{'$oid': '5d66d2fd6d5f3b6188d4f045'},511111405252,Magazines,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5d5d4fd16d5f...",American Patchwork & Quilting Magazine,NaN,QUILTING SPECIAL EDITION
46,{'$oid': '5332f5f3e4b03c9a25efd0ad'},511111104025,NaN,NaN,"{'$ref': 'Cpgs', '$id': {'$oid': '5332f5f3e4b0...",Gree Giant,NaN,NaN
47,{'$oid': '5fa1c567be37ce402c4618f1'},511111317203,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5fa1c567be37...",test brand @1604437351617,0.0,TEST BRANDCODE @1604437351617
48,{'$oid': '5a5d1e76e4b0db471c2d0425'},511111900337,Beer Wine Spirits,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f709e4b0...",Herman Joseph's,NaN,HERMAN
49,{'$oid': '55b630d9e4b0d8e685c1421f'},511111302629,NaN,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '55b62995e4b0...",Sundrop,NaN,NaN

In [6]:
brands_df.shape

(1167, 8)

In [7]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB

Creating a dummy dataframe to clean all the missing information or imputing some new information, as working with the original dataframe can cause an issue.

In [8]:
brands_df_copy = brands_df.copy()

Created this method to find all the keys available inside a dictionary

In [9]:
def findKeys(df,col):
    if(df[col].isnull().sum() == 0):
        return set().union(*(d.keys() for d in df[col]))
    else:
        return set().union(*(d.keys() for d in df.dropna(subset=[col])[col]))

As for an instance we can see, we have following two key within our dataframe, id and ref.

In [10]:
brands_df['cpg'][0]

{'$id': {'$oid': '601ac114be37ce2ead437550'}, '$ref': 'Cogs'}

In [11]:
brands_df_copy['_id'] = brands_df_copy['_id'].apply(lambda x: x['$oid'])

In [12]:
findKeys(brands_df_copy,'cpg')

{'$id', '$ref'}

Using **json_normalize** method from pandas to get the semi-structured JSON data into a flat table

In [13]:
brands_cpg_norm = pd.json_normalize(brands_df_copy['cpg']).add_prefix('cpg_')
brands_cpg_norm

     cpg_$ref              cpg_$id.$oid
0        Cogs  601ac114be37ce2ead437550
1        Cogs  5332f5fbe4b03c9a25efd0ba
2        Cogs  601ac142be37ce2ead437559
3        Cogs  601ac142be37ce2ead437559
4        Cogs  5332fa12e4b03c9a25efd1e7
...       ...                       ...
1162     Cogs  5f77274dbe37ce6b592e90bf
1163     Cogs  53e10d6368abd3c7065097cc
1164     Cogs  5332fa12e4b03c9a25efd1e7
1165     Cogs  5332f5f6e4b03c9a25efd0b4
1166     Cogs  6026d757be37ce6369301467

[1167 rows x 2 columns]

As we have already got all the data from **cpg** column, so we are dropping it.

In [14]:
brands_df_copy.drop(columns='cpg',inplace=True)

#### Finally merging both the dataframe and creating a final clean dataframe.

In [15]:
brands_final = pd.merge(brands_df_copy, brands_cpg_norm, left_index=True, right_index=True, how='outer')
brands_final.head()

,_id,barcode,category,categoryCode,name,topBrand,brandCode,cpg_$ref,cpg_$id.$oid
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,0.0,NaN,Cogs,601ac114be37ce2ead437550
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,0.0,STARBUCKS,Cogs,5332f5fbe4b03c9a25efd0ba
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs,601ac142be37ce2ead437559
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs,601ac142be37ce2ead437559
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs,5332fa12e4b03c9a25efd1e7

# Receipt_DF

In [16]:
receipts_df.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [17]:
receipts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB

In [18]:
receipts_df.shape

(1119, 15)

Following the same methodology of creating a dummy DF and cleaning it

In [19]:
receipts_df_copy = receipts_df.copy()

In [20]:
receipts_df_copy['_id'] = receipts_df_copy['_id'].apply(lambda x: x['$oid'])

Creating a function to convert all the **date columns** from **UTC to datetime format**.

In [21]:
def date_conv(x):
    try:
        return(datetime.utcfromtimestamp(int(x['$date'])/1000).strftime('%Y-%m-%d %H:%M:%S'))
    except TypeError:
        return(None)

In [22]:
receipts_df_copy['createDate'] = receipts_df_copy['createDate'].apply(lambda x: date_conv(x))
receipts_df_copy['dateScanned'] = receipts_df_copy['dateScanned'].apply(lambda x: date_conv(x))
receipts_df_copy['finishedDate'] = receipts_df_copy['finishedDate'].apply(lambda x: date_conv(x))
receipts_df_copy['modifyDate'] = receipts_df_copy['modifyDate'].apply(lambda x: date_conv(x))
receipts_df_copy['pointsAwardedDate'] = receipts_df_copy['pointsAwardedDate'].apply(lambda x: date_conv(x))
receipts_df_copy['purchaseDate'] = receipts_df_copy['purchaseDate'].apply(lambda x: date_conv(x))

Now most of the receipt dataframe columns are clean, only column left is *rewardReceiptItemList*. Working with this columns was complex as it has multiple field which itself could be a column.

But there were many records which comprised of two records within the list. So we have to expand this list such that we have only one record per row.

For example, **receipts_df_copy['rewardsReceiptItemList'][1]** this row has two records as we can see two entries for barcode variable.

In [23]:
receipts_df_copy.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,None,2021-01-03 15:25:42,None,5.0,2021-01-03 00:00:00,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [24]:
receipts_df_copy['rewardsReceiptItemList'][0]

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '26.00',
  'itemPrice': '26.00',
  'needsFetchReview': False,
  'partnerItemId': '1',
  'preventTargetGapPoints': True,
  'quantityPurchased': 5,
  'userFlaggedBarcode': '4011',
  'userFlaggedNewItem': True,
  'userFlaggedPrice': '26.00',
  'userFlaggedQuantity': 5}]

We are using **df.explode() function** to transform each element from the list to a row data, also this will create duplicate values for all other column

In [25]:
receipts_df_copy = receipts_df_copy.explode('rewardsReceiptItemList')
receipts_df_copy.reset_index(inplace=True)

In [26]:
receipts_df_copy.shape

(7381, 16)

In [27]:
receipts_df_copy.head()

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,None,2021-01-03 15:25:42,None,5.0,2021-01-03 00:00:00,1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6

In [28]:
receipts_df_copy.isnull().sum()

index                         0
_id                           0
bonusPointsEarned          1401
bonusPointsEarnedReason    1401
createDate                    0
dateScanned                   0
finishedDate               1411
modifyDate                    0
pointsAwardedDate          1301
pointsEarned               1128
purchaseDate                458
purchasedItemCount          484
rewardsReceiptItemList      440
rewardsReceiptStatus          0
totalSpent                  435
userId                        0
dtype: int64

We are filling NAN with '{}' value for *rewardsReceiptItemList* column, followed by converting each value to be a string and finally using literal_eval, to find the data type of the content stored in this case it is dict.

In [29]:
receipts_df_copy = receipts_df_copy.fillna({'rewardsReceiptItemList':'{}'})
receipts_df_copy['rewardsReceiptItemList'] = receipts_df_copy['rewardsReceiptItemList'].apply(lambda x:str(x))
receipts_df_copy['rewardsReceiptItemList'] = receipts_df_copy['rewardsReceiptItemList'].apply(literal_eval)

In [30]:
receipts_df_copy['rewardsReceiptItemList'][:20]

0     {'barcode': '4011', 'description': 'ITEM NOT F...
1     {'barcode': '4011', 'description': 'ITEM NOT F...
2     {'barcode': '028400642255', 'description': 'DO...
3     {'needsFetchReview': False, 'partnerItemId': '...
4     {'barcode': '4011', 'description': 'ITEM NOT F...
5     {'barcode': '4011', 'description': 'ITEM NOT F...
6     {'barcode': '1234', 'finalPrice': '2.56', 'ite...
7     {'barcode': '4011', 'description': 'ITEM NOT F...
8     {'brandCode': 'MISSION', 'competitorRewardsGro...
9     {'barcode': '046000832517', 'brandCode': 'BRAN...
10    {'barcode': '4011', 'description': 'ITEM NOT F...
11    {'barcode': '4011', 'description': 'ITEM NOT F...
12    {'barcode': '4011', 'description': 'ITEM NOT F...
13    {'barcode': '013562300631', 'description': 'An...
14    {'barcode': '034100573065', 'description': 'MI...
15    {'barcode': '034100573065', 'description': 'MI...
16    {'barcode': '034100573065', 'description': 'MI...
17    {'barcode': '034100573065', 'description': 'MI...
18    {'barcode': '034100573065', 'description': 'MI...
19    {'barcode': '034100573065', 'description': 'MI...
Name: rewardsReceiptItemList, dtype: object

Again as we used ** pandas.json_normalize() ** method to convert semi-structured JSON to a flat table.

In [31]:
receipts_Reward_norm = pd.json_normalize(receipts_df_copy['rewardsReceiptItemList'],errors='ignore',record_prefix='rewardsReceiptItemList').add_prefix('rewardsReceiptItemList_')

In [32]:
receipts_Reward_norm

,rewardsReceiptItemList_barcode,rewardsReceiptItemList_description,rewardsReceiptItemList_finalPrice,rewardsReceiptItemList_itemPrice,rewardsReceiptItemList_needsFetchReview,rewardsReceiptItemList_partnerItemId,rewardsReceiptItemList_preventTargetGapPoints,rewardsReceiptItemList_quantityPurchased,rewardsReceiptItemList_userFlaggedBarcode,rewardsReceiptItemList_userFlaggedNewItem,...,rewardsReceiptItemList_itemNumber,rewardsReceiptItemList_originalMetaBriteQuantityPurchased,rewardsReceiptItemList_pointsEarned,rewardsReceiptItemList_targetPrice,rewardsReceiptItemList_competitiveProduct,rewardsReceiptItemList_originalFinalPrice,rewardsReceiptItemList_originalMetaBriteItemPrice,rewardsReceiptItemList_deleted,rewardsReceiptItemList_priceAfterCoupon,rewardsReceiptItemList_metabriteCampaignId
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
7379,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
7380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
receipts_Reward_norm['rewardsReceiptItemList_barcode'].value_counts()

4011            177
036000320893     92
034100573065     90
036000391718     87
012000809941     76
               ...
4562              1
021000701445      1
021000026999      1
686924560242      1
665290001184      1
Name: rewardsReceiptItemList_barcode, Length: 568, dtype: int64

In [34]:
receipts_df_copy.drop(columns=['index','rewardsReceiptItemList'],inplace=True)

Merging dummy and normalized dataframe and creating a final clean dataframe.

In [35]:
receipts_final = pd.merge(receipts_df_copy, receipts_Reward_norm, left_index=True, right_index=True, how='outer')
receipts_final.shape

(7381, 48)

In [36]:
receipts_final.head(40)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,...,rewardsReceiptItemList_itemNumber,rewardsReceiptItemList_originalMetaBriteQuantityPurchased,rewardsReceiptItemList_pointsEarned,rewardsReceiptItemList_targetPrice,rewardsReceiptItemList_competitiveProduct,rewardsReceiptItemList_originalFinalPrice,rewardsReceiptItemList_originalMetaBriteItemPrice,rewardsReceiptItemList_deleted,rewardsReceiptItemList_priceAfterCoupon,rewardsReceiptItemList_metabriteCampaignId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,None,2021-01-03 15:25:42,None,5.0,2021-01-03 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5ff1e1e40a7214ada1000566,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-03 15:25:24,2021-01-03 15:25:24,2021-01-03 15:25:25,2021-01-03 15:25:30,2021-01-03 15:25:25,750.0,2021-01-02 15:25:24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5ff1e1cd0a720f052300056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:01,2021-01-03 15:25:01,2021-01-03 15:25:02,2021-01-03 15:25:02,2021-01-03 15:25:02,5.0,2021-01-03 15:25:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5ff1e1a40a720f0523000569,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:24:20,2021-01-03 15:24:20,2021-01-03 15:24:21,2021-01-03 15:24:21,2021-01-03 15:24:21,500.0,2020-12-27 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5ff1e1ed0a7214ada100056e,5.0,All-receipts receipt bonus,2021-01-03 15:25:33,2021-01-03 15:25:33,2021-01-03 15:25:34,2021-01-03 15:25:38,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5ff1e1eb0a7214ada100056b,250.0,"Receipt number 3 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,250.0,2021-01-03 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5ff1e1c50a720f052300056c,100.0,"Receipt number 6 completed, bonus point schedu...",2021-01-03 15:24:53,2021-01-03 15:24:53,2021-01-03 15:24:53,2021-01-03 15:24:53,2021-01-03 15:24:53,100.0,2021-01-02 15:24:53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,5ff1e1a10a720f0523000568,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-03 15:24:17,2021-01-03 15:24:17,2021-01-03 15:39:20,2021-01-03 15:39:20,2021-01-03 15:24:19,750.0,2021-01-02 00:00:00,...,013562300631,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
15,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
16,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
17,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
18,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
19,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
20,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
21,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
22,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
23,5ff1e1b60a7214ada100055c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:38,2021-01-03 15:24:38,None,2021-01-03 15:24:38,None,8850.0,2021-02-03 15:24:38,...,NaN,NaN,870.0,77,NaN,NaN,NaN,NaN,NaN,NaN
24,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN
25,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",2020-10-30 20:17:59,2020-10-30 20:17:59,None,2021-01-03 15:24:54,2020-10-30 20:18:00,750.0,2020-10-29 20:17:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,5ff1e1b20a7214ada100055a,300.0,"Receipt number 4 completed, bonus point schedu...",2021-01-03 15:24:34,2021-01-03 15:24:34,2021-01-03 15:24:35,2021-01-03 15:24:35,2021-01-03 15:24:35,300.0,2021-02-03 15:24:35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,5ff1e1e90a7214ada1000569,NaN,NaN,2021-01-03 15:25:29,2021-01-03 15:25:29,None,2021-01-03 15:25:29,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,5ff1e1e90a7214ada1000569,NaN,NaN,2021-01-03 15:25:29,2021-01-03 15:25:29,None,2021-01-03 15:25:29,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,5ff1e1df0a7214ada1000564,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-03 15:25:19,2021-01-03 15:25:19,2021-01-03 15:25:20,2021-01-03 15:25:25,2021-01-03 15:25:19,750.0,2021-01-02 15:25:19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,5ff1e1df0a7214ada1000564,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-03 15:25:19,2021-01-03 15:25:19,2021-01-03 15:25:20,2021-01-03 15:25:25,2021-01-03 15:25:19,750.0,2021-01-02 15:25:19,...,NaN,NaN,NaN,800,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
receipts_final.columns

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptStatus', 'totalSpent', 'userId',
       'rewardsReceiptItemList_barcode', 'rewardsReceiptItemList_description',
       'rewardsReceiptItemList_finalPrice', 'rewardsReceiptItemList_itemPrice',
       'rewardsReceiptItemList_needsFetchReview',
       'rewardsReceiptItemList_partnerItemId',
       'rewardsReceiptItemList_preventTargetGapPoints',
       'rewardsReceiptItemList_quantityPurchased',
       'rewardsReceiptItemList_userFlaggedBarcode',
       'rewardsReceiptItemList_userFlaggedNewItem',
       'rewardsReceiptItemList_userFlaggedPrice',
       'rewardsReceiptItemList_userFlaggedQuantity',
       'rewardsReceiptItemList_needsFetchReviewReason',
       'rewardsReceiptItemList_pointsNotAwardedReason',
       'rewardsReceiptItemList_pointsPayerId',
       'rewardsReceiptItemList_rewardsGroup',
       'rewardsReceiptItemList_rewardsProductPartnerId',
       'rewardsReceiptItemList_userFlaggedDescription',
       'rewardsReceiptItemList_originalMetaBriteBarcode',
       'rewardsReceiptItemList_originalMetaBriteDescription',
       'rewardsReceiptItemList_brandCode',
       'rewardsReceiptItemList_competitorRewardsGroup',
       'rewardsReceiptItemList_discountedItemPrice',
       'rewardsReceiptItemList_originalReceiptItemText',
       'rewardsReceiptItemList_itemNumber',
       'rewardsReceiptItemList_originalMetaBriteQuantityPurchased',
       'rewardsReceiptItemList_pointsEarned',
       'rewardsReceiptItemList_targetPrice',
       'rewardsReceiptItemList_competitiveProduct',
       'rewardsReceiptItemList_originalFinalPrice',
       'rewardsReceiptItemList_originalMetaBriteItemPrice',
       'rewardsReceiptItemList_deleted',
       'rewardsReceiptItemList_priceAfterCoupon',
       'rewardsReceiptItemList_metabriteCampaignId'],
      dtype='object')

# Users_DF

In [38]:
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [39]:
users_final = users_df.copy()

Using same data cleaning method to clean this dataframe

In [40]:
users_final['_id'] = users_final['_id'].apply(lambda x: x['$oid'])
users_final['createdDate'] = users_final['createdDate'].apply(lambda x: date_conv(x))
users_final['lastLogin'] = users_final['lastLogin'].apply(lambda x: date_conv(x))

In [41]:
users_final.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30,2021-01-03 15:25:30,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI

# First: Review Existing Unstructured Data and Diagram a New Structured Relational Data Model

![Structured Relation Data Model](SQLdiagram.png "Structured Relation Data Model")

# Second: Write a query that directly answers a predetermined question from a business stakeholder

#### Converting our dataframes to SQL database

In [42]:
engine = create_engine('sqlite:///Fetch_rewards.db', echo=False)
sqlite_connection = engine.connect()

In [43]:
brands_final.to_sql('brands', sqlite_connection, if_exists='replace')

In [44]:
receipts_final.to_sql('receipt', sqlite_connection, if_exists='replace')

In [45]:
users_final.to_sql('users', sqlite_connection, if_exists='replace')

In [46]:
sqlite_connection.close()

## What are the top 5 brands by receipts scanned for most recent month?

![](SQL_Answers/Question1Script.png "Question 1")
![](SQL_Answers/Question1Ans.png "Question 1")

# How does the ranking of the top 5 brands by receipts scanned for the recent month compare to the ranking for the previous month?

![](SQL_Answers/Question2Script.png "Question 2")
![](SQL_Answers/Question2Ans.png "Question 2")

## When considering average spend from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?

In [47]:
receipts_final['rewardsReceiptStatus'].value_counts()

FINISHED     5920
FLAGGED       810
SUBMITTED     434
REJECTED      167
PENDING        50
Name: rewardsReceiptStatus, dtype: int64

![](SQL_Answers/Question3Script.png "Question 3")
![](SQL_Answers/Question3Ans.png "Question 3")

## When considering total number of items purchased from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?

![](SQL_Answers/Question4Script.png "Question 4")
![](SQL_Answers/Question4Ans.png "Question 4")

## Which brand has the most spend among users who were created within the past 6 months?

![](SQL_Answers/Question5Script.png "Question 5")
![](SQL_Answers/Question5Ans.png "Question 5")

## Which brand has the most transactions among users who were created within the past 6 months?

![](SQL_Answers/Question6Script.png "Question 6")
![](SQL_Answers/Question6Ans.png "Question 6")

# Third: Evaluate Data Quality Issues in the Data Provided

Receipt table has a lot of duplicated values as we exploded the dataframe to manage a list item and converting it to a row item with replicating other col values

In [48]:
receipts_final.duplicated(subset='_id').sum()

6262

#### We need more information for handling this type of data as, for the 1st item on the list, it says ITEM NOT FOUND and we have a valid item for second item on the list.

In [49]:
receipts_df['rewardsReceiptItemList'][1]

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '1',
  'quantityPurchased': 1},
 {'barcode': '028400642255',
  'description': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
  'finalPrice': '10.00',
  'itemPrice': '10.00',
  'needsFetchReview': True,
  'needsFetchReviewReason': 'USER_FLAGGED',
  'partnerItemId': '2',
  'pointsNotAwardedReason': 'Action not allowed for user and CPG',
  'pointsPayerId': '5332f5fbe4b03c9a25efd0ba',
  'preventTargetGapPoints': True,
  'quantityPurchased': 1,
  'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE',
  'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba',
  'userFlaggedBarcode': '028400642255',
  'userFlaggedDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
  'userFlaggedNewItem': True,
  'userFlaggedPrice': '10.00',
  'userFlaggedQuantity': 1}]

#### Whereas, for some rows we have multiple duplicate entries for the same record. As shown below

In [50]:
receipts_df['rewardsReceiptItemList'][12]

[{'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '1',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'},
 {'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '2',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'},
 {'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '3',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'},
 {'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '4',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'},
 {'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '5',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'},
 {'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '6',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'},
 {'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '7',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'},
 {'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '8',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'},
 {'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '9',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'},
 {'barcode': '034100573065',
  'description': 'MILLER LITE 24 PACK 12OZ CAN',
  'finalPrice': '29',
  'itemPrice': '29',
  'partnerItemId': '10',
  'pointsEarned': '870.0',
  'pointsPayerId': '5332f709e4b03c9a25efd0f1',
  'quantityPurchased': 1,
  'rewardsGroup': 'MILLER LITE 24 PACK',
  'rewardsProductPartnerId': '5332f709e4b03c9a25efd0f1',
  'targetPrice': '77'}]

In [51]:
brands_final.duplicated(subset='_id').sum()

0

##### We cannot allow duplicate value for this column as this will serve as a primary key columns for table Brands

In [52]:
brands_final.duplicated(subset='brandCode').sum()

269

##### We cannot allow duplicate value for this column as this will serve as a primary key columns for table Users

In [53]:
users_final.duplicated(subset='_id').sum()

283

##### Difference between unique brands on receipt and brand dataset has a huge difference, as many brand name are not on the receipt table.

In [54]:
len(set(receipts_final['rewardsReceiptItemList_brandCode'])),len(set(brands_final['brandCode']))

(228, 898)

##### Out of 228 brand with receipt, 186 brands are missing on brand table brandCode.

In [55]:
len(set(receipts_final[~(receipts_final['rewardsReceiptItemList_brandCode'].isin(brands_final['brandCode']))]['rewardsReceiptItemList_brandCode']))

186

##### i.e. Only 42 brands are common in both the table (receipt and brand)

In [56]:
len(set(brands_final['brandCode']))-len(set(brands_final[~(brands_final['brandCode'].isin(receipts_final['rewardsReceiptItemList_brandCode']))]['brandCode']))

42